<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Not found</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel = "stylesheet"/>
</head>

<body>
    <a href="{{ url_for('index') }}" class="back-btn">Home</a>
    <h1>The requested city is not found</h1>
    <h2>Try Again!</h2>
    <form action="/weather" method="GET">
        <input type="text" value="{{ city | default('') }}" name="city" id="city" placeholder="Please enter the name of city"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>