<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather conditions</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel = "stylesheet"/>
</head>

<body>
    <h1>Check the weather in your city or air in your city is breathable or not</h1>
    <form action="/weather" method="GET">
        <input type="text" value="{{ city | default('') }}" name="city" id="city" placeholder="Please enter the name of city"/>
        <button type="submit">Submit</button>
    </form>
{% if error %}
  <p>{{ error }}</p>
{% endif %}

</body>
</html>