<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }},Weather</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel = "stylesheet"/>
</head>
<body>
    <a href="{{ url_for('index') }}" class="back-btn">Home</a>
    <h1>Weather of {{ title }}</h1>
    <p>{{ status }} and {{ temp }} &deg;C </p>
    {% if weather_icon %}
        <img src="https://openweathermap.org/img/wn/{{ weather_icon }}@2x.png" alt="weather icon">
    {% endif %}
    <p>Feels like: {{ feels_like }} &deg;C </p>
    <p>Humidity: {{ humidity }}%</p>
    <p>Wind Speed: {{ wind_speed }}m/s</p>
    <form action="/weather" method="GET">
        <input type="text" value="{{ city | default('') }}" name="city" id="city" placeholder="Please enter the name of city"/>
        <button type="submit">Submit</button>
    </form>

</body>
</html>