* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #f1f1f1be;
    color: rgba(30, 142, 170, 0.973);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    font-size: 20px;
}
img{
    align-items: center;
}
input {
    font-size: 20px;
    color: darkcyan;
    padding: 5px;
    border-radius: 10px;
}

button{
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    color: rgb(43, 6, 92);
}
.back-btn {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 16px;
  text-decoration: none;
  border: 2px solid #0c5580;
  border-radius: 10px;
  font-weight: 600;
}

